<link rel="stylesheet" href="app.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-sanitize.js"></script>
<script>
  angular.module('app', ['ngSanitize'])
  sheet = function($scope, $parse) {
    $scope.columns = ['A', 'B'];
    $scope.rows = [1, 2];
    $scope.cells = {};

    // test input
    $scope.cells['A1'] = '1'
    $scope.cells['B1'] = '2'
    $scope.cells['A2'] = 'A1+B1'
    $scope.cells['HTML1'] = '<i>A1</i> + <i>B1</i> = <b>A2</b>'
    $scope.cells['live'] = 'HTML1'

    function hasTags(text) {
      return /</.test(text)
    }

    function computeReference(ref) {
      return 'compute("' + ref + '")';
    }

    function computeReferenceConcat(ref) {
      // removes quotes from ref
      return '" + ' + computeReference(ref.substr(1, ref.length-2)) + ' + "'
    }

    function tagsToStrings(t) {
      return '"' + t + '"'
    }

    function replaceOperator(ref) {
      var op = ref[2]
      return '" + " ' + op + ' " + "'
    }

    process = function(exp) {
      var cellPattern = /[A-Z]+\d+/g
      var tagPattern = /<\/?[a-z]+>/g
      var cellBetweenTagsPattern = /"[A-Z]\d+"/g
      var operatorPattern = /" [\+=] ?"/g

      if (hasTags(exp)) {
        var tagsReplace = exp.replace(tagPattern, tagsToStrings)
        var cellsReplaced = tagsReplace.replace(cellBetweenTagsPattern, computeReferenceConcat)
        var plusReplaced = cellsReplaced.replace(operatorPattern, replaceOperator)
        return plusReplaced
      } else {
        return exp.replace(cellPattern, computeReference)
      }
    }
    $scope.compute = function(cell) {
      var value = $scope.cells[cell]
      if (typeof value === 'undefined') {
        return
      }
      var processed = process(value)
      try {
        var parsed = $parse(processed)
        return parsed($scope);
      } catch (err) {
        return value
      }
    };
  }
</script>

<div ng-app="app" ng-controller="sheet">
  <table>
    <tr class="column-label">
      <td></td>
      <td ng-repeat="column in columns">{{column}}</td>
    </tr>
    <tr ng-repeat="row in rows">
      <td class="row-label">{{row}}</td>
      <td ng-repeat="column in columns">
        <div>
          <input ng-model="cells[column+row]"></input>
          <div ng-bind="compute(column+row)"
               class="output"></div>
        </div>
      </td>
    </tr>
    <tr class="html">
      <td class="row-label">html</td>
      <td class="html">
        <div>
          <input ng-model="cells.HTML1"></input>
          <div ng-bind="compute('HTML1')"
               class="output html"></div>
        </div>
      </td>
    </tr>
    <tr class="html">
      <td class="row-label">live</td>
      <td class="html">
        <div>
          <input ng-model="cells.live"></input>
          <div ng-bind-html="compute('live')"
               class="output html"></div>
        </div>
      </td>
    </tr>
  </table>
</div>
<center>
  Reactive web "app" based on spreadsheet in 10LOC using Angular, see
  <a href="https://github.com/bahmutov/spreadsheet">bahmutov/spreadsheet</a>,
  based on <a href="http://blog.thomasstreet.com/post/129096073308/building-a-spreadsheet-in-20-minutes-with-angular-js">tutorial</a> by
  <a href="https://twitter.com/graunked">David Graunke</a>.
  <p>You can change values in cells and see the live DOM updated below.
  Each cell is a regular value or expression that refers to other cells.
  Cell "html" has HTML tags, like <code>b, i</code> while cell
  "live" is bound using <code>ng-bind-html</code> directive to create
  live reactive result.</p>
</center>
